{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Spazzola Decó</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">"La vida es un arte, debes sentirlo. Es como caminar sobre una cuerda floja" Osho</p>
                        <a class="btn btn-primary btn-xl" href="#productos">Descubri mas</a>
                    </div>
                </div>
            </div>
        </header>

  <section class="py-5 " style = "background-color:#f4623a " id="productos">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {%for c in categories%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{% static 'assets/img/portfolio/thumbnails/1.jpg' %}" alt="..." />
                            <!-- Product details-->
                            
                            <div class="card-body p-4 bg-light">
                                
                                 <div class="card-body p-1">
                                    <div class="text-center">
                                    <!-- Product name-->
                                        <h5 class="fw-bolder text-dark">{{c.name|title}}</h5>
                                    <!-- Product price-->
                                
                                    </div>
                                
                                </div>
                               
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ingresa</a></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                {%endfor%}
            </div>
        </section>
  {%endblock header%}      
   
        